# .env.example
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBJFfQL-tE9BPoEfzm1jmkD8zMGVPXjb8E
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=gsm-shop-manager.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=gsm-shop-manager
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=gsm-shop-manager.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=790119502829
NEXT_PUBLIC_FIREBASE_APP_ID=1:790119502829:web:ebe368faba420cb5f34de4

NEXT_PUBLIC_DEFAULT_SHOP_ID=gsm-shop-1
